@import './colors.scss';
@import './fonts.scss';
@import './general.scss';
@import './helpers.scss';


@mixin button ($background, $color) {
    @include displayFlex(row nowrap, center, center);
    @include hoverPointer();
    width: fit-content;
    padding: 0.3rem 1rem;
    background-color: $background;
    @include fontSans(1.1rem, 400, $COLORS-base-900);
    color: $color;
    border-radius: 5px;
}

@mixin buttonBorder ($background, $color, $border) {
    @include displayFlex(row nowrap, center, center);
    @include hoverPointer();
    width: fit-content;
    padding: 0.3rem 1rem;
    background-color: $background;
    @include fontSans(1.1rem, 400, $COLORS-base-900);
    color: $color;
    border-radius: 0.3rem;
    border: solid 0.1rem;
    border-color: $border;
}

.btn-solid-dark {
    @include button($COLORS-base-900, $COLORS-base-100);
}
.btn-solid-light {
    @include button($COLORS-base-100, $COLORS-base-900);
}

.btn-border-dark {
    @include buttonBorder(transparent, $COLORS-base-900, $COLORS-base-900);
}
.btn-border-light {
    @include buttonBorder(transparent, $COLORS-base-100, $COLORS-base-100);
}

.btn-full-width {
    width: 100%;
    padding: 0.3rem 0;
    max-width: 700px;
}

.btn-subtitel {
    flex-flow: column nowrap;
}