//FONTS styles

@font-face {
    font-family: 'PT Sans';
    src:
        url('../assets/fonts/PTSans-Regular.woff2') format('woff2'),
        url('../assets/fonts/PTSans-Regular.woff') format('woff'),
        url('../assets/fonts/PTSans-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    font-display: optional;
}

@font-face {
    font-family: 'PT Serif';
    src:
        url('../assets/fonts/PTSerif-Regular.woff2') format('woff2'),
        url('../assets/fonts/PTSerif-Regular.woff') format('woff'),
        url('../assets/fonts/PTSerif-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    font-display: optional;
}

@mixin fontSans ($size, $weight, $color) {
    font-family: 'PT Sans', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

@mixin fontSerif ($size, $weight, $color) {
    font-family: 'PT Serif', serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: $size;
    font-weight: $weight;
    color: $color;
}

//FONTS helpers
.font-bold {
    font-weight: 600;
}
.font-normal {
    font-weight: 600;
}
// .font-error {
//     @include fontSans(0.65rem, 400, $COLORS-accent-secondary);
// }
.font-larger {
    @include fontSans(1.5rem, 600, $COLORS-base-900);
}
.font-large{
    @include fontSans(1.25rem, 600, $COLORS-base-900);
}
.font-normal {
    @include fontSans(1rem, 400, $COLORS-base-900);
}
.font-small {
    @include fontSans(0.85rem, 400, $COLORS-base-900);
}
.font-smaller {
    @include fontSans(0.75rem, 400, $COLORS-base-900);
}