@import './colors.scss';
@import './fonts.scss';
@import './general.scss';
@import './helpers.scss';

.page {
    // page class layouts the entire page with column direction
    @include displayFlex(column nowrap, center, center);
    gap: 40px;
    width: 100dvw;
    height: 100%;
    padding: 50px 0;

    .section-intro {
        // Intro class contains an h1 element and a button
        // @include displayFlex(column nowrap, flex-star, flex-start);
        gap: 20px;
        padding: 0 30px;
        width: 100%;
        max-width: 570px;
        h1 {
            max-width: 255px;
            font-size: 2.5rem;
        }
        .btn-solid {
            // @include button($COLORS-base-900, $COLORS-base-100);
        }
        @media (min-width: 600px) {
            align-items: flex-start;
        }
    }

    .section-grid-nav {
        // Section grid nav contains 4 div buttons with icon and text
        @include displayFlex(row wrap, center, center);
        gap: 30px;
        width: 270px;
        padding: 0;
        .nav-item {
            @include displayFlex(column nowrap, center, center);
            gap: 5px;
            @include hoverPointer();
            min-width: 120px;
            min-height: 120px;
            border-radius: 5px;
            background-color: $COLORS-base-100;
            .icon {
                display: block;
                height: 60px;
                width: 60px;
            };
        }
        @media (min-width: 380px) {
            margin: 50px 0;
        }
        @media (min-width: 600px) {
            flex-wrap: nowrap;
            width: fit-content;
        }
    }

    .section-extra-nav {
        // Section extra navfull width outlined buttons
        @include displayFlex(row wrap, center, center);
        gap: 10px;
        width: 95%;
        max-width: 600px;
        padding: 20px;
        border-radius: 5px;
        background-color: $COLORS-base-100;
        @include fontSans(24px, 400, $COLORS-base-900);
        @media (min-width: 630px) {
            width: 100dvw;
            .btn {
                max-width: 270px;
            }
        }
        @media (min-width: 1220px) {
            max-width: 1170px;
        }
    }

    .section-carousel {
        .section-content {
            // Section carousel contains a p element for intro, and the carousel container
            gap: 30px;
            p {
                max-width: 290px;
            }
            .carousel-container {
                @include displayFlex(row nowrap, flex-start, flex-start);
                gap: 20px;
                width: calc(100dvw - 40px);
                overflow-x: auto;
                &::-webkit-scrollbar {
                    display: none;
                }
                -ms-overflow-style: none;
                scrollbar-width: none;
                .img-container {
                    margin: 0 auto;
                    width: 250px;
                    height: auto;
                    // height: 250px;
                    object-fit: cover;
                    img {
                        border-radius: 8px;
                    }
                }
            }
            @media (min-width:530px) {
                p {
                    max-width: 500px;
                }
            }
            @media (min-width: 720px) {
                flex-direction: row;
                p {
                    max-width: 290px;
                }
            }
        }
    }

    .section-review {
        @media (min-width: 720px) {
            flex-direction: row;
            align-items: flex-start;
            .text-container {
                max-width: 500px;
            }
        }
    }

    .section-icon-text {
        .items-container {
            @include displayFlex(column nowrap, center, flex-start);
            gap: 30px;
            .icon-text-container {
                gap: 20px;
                flex-wrap: nowrap;
                min-width: 270px;
                .icon-container {
                    flex-shrink: 0;
                    width: 100px;
                    height: 100px;
                    background-color: $COLORS-base-100;
                    border-radius: 8px;
                    .icon {
                        max-width: 60px;
                        max-height: 60px;
                    }
                }
            }
            .text-container {
                gap: 10px;
            }
            @media (min-width:720px) {
                flex-direction: row;
                gap: 50px;
                .text-container {
                    max-width: 400px;
                }
            }
        }
    }

}