@import './styles/animations.scss';
@import './styles/_buttons.scss';
@import './styles/colors.scss';
@import './styles/fonts.scss';
@import './styles/forms.scss';
@import './styles/general.scss';
@import './styles/helpers.scss';
@import './styles/layouts.scss';
@import './styles/modals.scss';
@import './styles/pages.scss';

html {
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

body{
    background: $COLORS-base-200;
    @include fontSans(18px, Regular, $COLORS-base-900);
}