@import '../../App.scss';

@media (min-width: 766px) {
    .products-page {
        .items-container {
            height: calc(100dvh - 263.5px) !important;
        }
    }
}

.product-page {
    max-width: 1200px;
    .nav-products-view {
        justify-content: space-between;
        position: fixed;
        top: 55px;
        z-index: 50;
        width: 100%;
        padding: 5px 20px;
        background: $COLORS-base-100;
        .btn-border-dark {
            padding: 0.1rem 0.5rem;
        }
        .view-icons {
            gap: 5px;
        }
    }
    .products-container {
        display: flex;
        flex-flow: column nowrap;
        gap: 40px;
        width: 90%;
        .product-card {
            display: flex;
            flex-flow: column nowrap;
            gap: 5px;
            width: 100%;
            border-radius: 8px;
            .product-image {
                position: relative;
                .icons-container {
                    @include displayFlex(row nowrap, space-around, center);
                    position: absolute;
                    right: 0;
                    bottom: -10px;
                    width: 160px;
                }
            }
            .product-card-content {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: stretch;
                .column {
                    display: flex;
                    flex-flow: column nowrap;
                }
                .price {
                    justify-content: flex-end;
                    align-items: flex-end;
                }
            }
        }
        img {
            max-width: 100%;
        }
    }
}