@import '../../App.scss';

.product-page {
    max-width: 1200px;
    .section-product-page-default {
        @include displayFlex(column nowrap, flex-start, center);
        @media (min-width: 630px) {
            .section-extra-nav {
                .btn {
                    max-width: 100%;
                }
            }
        }
        @media (min-width: 1220px) {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            .section-intro {
                align-items: flex-start;
                width: fit-content;
            }
            .section-extra-nav {
                flex-direction: column;
                width: 600px;
                .btn {
                    max-width: 100%;
                }
            }
        }
    }
    .nav-products-view {
        justify-content: space-between;
        position: fixed;
        top: 55px;
        z-index: 50;
        width: 100%;
        max-width: 1200px;
        padding: 5px 20px;
        background: rgba($COLORS-base-100, 0.6);
        border-radius: 5px;
        .btn-border-dark {
            padding: 0.1rem 0.5rem;
        }
        .view-icons {
            gap: 5px;
        }
    }
    .products-container {
        display: flex;
        flex-flow: column nowrap;
        gap: 40px;
        width: 90%;
        max-width: 510px;
        .product-card {
            display: flex;
            flex-flow: column nowrap;
            gap: 5px;
            width: 100%;
            border-radius: 8px;
            .product-image {
                position: relative;
                width: 90vw;
                height: 90vw;
                max-width: 400px;
                max-height: 400px;
                aspect-ratio: 1 / 1;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 5px;
                }
                .icons-container {
                    @include displayFlex(row nowrap, space-around, center);
                    position: absolute;
                    right: 0;
                    bottom: -10px;
                    width: 160px;
                }
            }
            .product-card-content {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                align-items: stretch;
                .column {
                    display: flex;
                    flex-flow: column nowrap;
                }
                .price {
                    justify-content: flex-end;
                    align-items: flex-end;
                }
            }
        }
    }
}

@media (min-width: 766px) {
    .product-page {
        .items-container {
            height: calc(100dvh - 263.5px) !important;
        }
    }
}