@import '../../App.scss';

.product-page {
    max-width: 1200px;
    .section-product-page-default {
        @include displayFlex(column nowrap, flex-start, center);
    }
    .nav-products-view {
        @include displayFlex(row nowrap, space-between, center);
        gap: 20px;
        position: fixed;
        top: 55px;
        z-index: 50;
        width: 100%;
        max-width: 1200px;
        padding: 5px 20px;
        background: rgba($COLORS-base-100, 0.6);
        border-radius: 5px;
        .nav-container {
            @include displayFlex(row nowrap, space-between, center);
            gap: 10px;
            overflow-x: scroll;
            scrollbar-width: none;
            .btn-border-dark {
                padding: 0.1rem 0.5rem;
            }
            .btn {
                @include hoverPointer();
                p {
                    white-space: nowrap;
                }
            }
        }
        .view-icons {
            @include displayFlex(row nowrap, center, center);
            gap: 5px;
            // padding-left: 20px;
            @include hoverPointer();
            .icon {
                width: 20px;
                height: auto;
            }
        }
    }
    .products-container {
        @include displayFlex(column nowrap, flex-start, flex-start);
        gap: 40px;
        width: 90%;
        max-width: 510px;
        .product-card {
            @include displayFlex(column nowrap, flex-start, stretch);
            gap: 5px;
            width: 100%;
            border-radius: 8px;
            -webkit-box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.1);
            box-shadow: 0px 5px 10px 2px rgba(0,0,0,0.1);
            .product-image {
                @include displayFlex(column nowrap, flex-start, flex-start);
                img, video {
                    width: 100%;
                    height: 100%;
                    max-height: 350px;
                    object-fit: cover;
                    border-radius: 5px;
                    aspect-ratio: 1 / 1;
                }
            }
            .icons-container {
                @include displayFlex(row nowrap, space-between, center);
                gap: 30px;
                width: 100%;
                background: rgba($COLORS-base-100, 0.4);
                border-radius: 5px;
                button {
                    @include displayFlex(row nowrap, center, center);
                    @include hoverPointer();
                    gap: 10px;
                    padding: 10px;
                    .icon {
                        aspect-ratio: auto;
                        height: 15px;
                        width: auto;
                        border-radius: 0;
                    }
                }
            }
            .product-card-content {
                @include displayFlex(row nowrap, space-between, stretch);
                gap: 5px;
                padding: 10px;
                .column {
                    display: flex;
                    flex-flow: column nowrap;
                }
                .price {
                    justify-content: flex-end;
                    align-items: flex-end;
                    p {
                        white-space: nowrap;
                    }
                }
            }
        }
    }
}

@media (min-width: 630px) {
    .product-page {
        .section-product-page-default {
            .section-extra-nav {
                .btn {
                    max-width: 100%;
                }
            }
        }
        .products-container {
            .product-card {
                    .product-image {
                        img, video {
                            max-height: 250px;
                        }
                    }
            }
        }
    }
}
@media (min-width: 1220px) {
    .product-page {
        .section-product-page-default {
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            .section-intro {
                align-items: flex-start;
                width: fit-content;
            }
            .section-extra-nav {
                flex-direction: column;
                width: 600px;
                .btn {
                    max-width: 100%;
                }
            }
        }
    }
}